[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# IDE0019: Use pattern matching
csharp_style_pattern_matching_over_as_with_null_check = false

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = unused_local_variable

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none
